<!--
  package template
  Used for dynamic data relating to individual packages
-->

<div id='topRowContainer' class='row-fluid'>
  <div id='recentBuildsContent' class='span4 contentContainer'>
    <div id='recentBuildsContentTitle' class='row-fluid'>
      <h3 class='contentTitle span6'>Latest <%= @packageName %> Builds</h3>
      <div class='span2 offset4'>
        <div class="btn-group">
          <button id='recentBuildsPopover' class='moreBtn btn btn-mini' data-toggle='popover' data-placement='left' data-title='Description' data-content='The latest six builds. Click a row for more information.' type="button"><i class='icon-info-sign'></i></button>
          <button class="moreBtn btn btn-mini dropdown-toggle" data-toggle="dropdown" type="button"><i class="icon-search"></i></button>
          <ul class='dropdown-menu pull-right'>
            <li><a id='histLogButton' tabindex="-1" href=#>Historical Build Log</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Use a multi-purpose template to generate the table -->
    <%= erb :recentBuildsTable %>
  </div>

  <div id='typeSummaryContent' class='span7 contentContainer'>
    <div id='typeSummaryContentTitle' class='row-fluid'>
      <h3 class='contentTitle span6'><%= @packageName %> Packaging Summaries</h3>
      <div class='span2 offset4'>
        <div class="btn-group">
          <button id='summaryPopover' class='moreBtn btn btn-mini' data-toggle='popover' data-placement='left' data-title='Description' data-content='General stats detailing the number of package builds, as well as the distribution of build jobs across each build host.' type="button"><i class='icon-info-sign'></i></button>
        </div>
      </div>
    </div>
    <div class='row-fluid'>
      <div id='packageSummaryBuildNumber' class='span5'>
        <h4 id='packageSummaryBuildNumberTitle' class='contentTitle'>Number of Builds</h4>
        <div id='packageSummaryBuildContent' class='typeChartContent'>
          <div class='yAxisLabel'>Builds</div>
        </div>
      </div>
      <div id='packageSummaryFreqHosts' class='span5 offset1'>
        <h4 class='contentTitle'>Build Host Usage</h4>
        <div id='packageSummaryFreqHostsContent' class='typeChartContent'>
          <table class='table table-hover table-striped'>
            <thead>
              <tr>
                <th>Host</th>
                <th>Builds</th>
                <th>Percentage</th>
              </tr>
            </thead>
            <tbody>
              <% @stats[:freqHostList].each do |host| %>
                <% rowID        = "#{host[0].gsub('-', '').gsub('.', '')}row"%>
                <% modalMessage = "#{host[0]}: #{host[2]}% of all #{@packageName} builds." %>
                <tr id='<%= rowID %>' onmouseover='createTableRowModal(<%= "#{rowID}" %>, <%= "\"#{modalMessage}\"" %>)' onmouseout='removeTableModal()'>
                  <td><%= host[0] %></td>
                  <td><%= host[1]%></td>
                  <td><%= host[2]%>%</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='bottomRowContainer' class='row-fluid'>
  <div id='generalStatsContent' class='span4 contentContainer'>
    <div id='generalStatsContentTitle' class='row-fluid'>
      <h3 class='contentTitle span6'>General <%= @packageName %> Stats</h3>
      <div class='span2 offset4'>
        <div class="btn-group">
          <button id='generalPopover' class='moreBtn btn btn-mini' data-toggle='popover' data-placement='left' data-title='Description' data-content='Miscellaneous statistics about this package.' type="button"><i class='icon-info-sign'></i></button>
        </div>
      </div>
    </div>
    <div class='row-fluid'>
      <div class='span5'>
        <table id='generalStatsTableLeft' class='table generalStatsTable'>
          <tbody>
            <tr>
              <td class='generalStatsTableLabel'>RC Releases:</td>
              <td id='generalStatsRCReleasesCell' class='generalStatsTableCell'><%= @stats[:general][:RCReleases] %></td>
            </tr>
            <tr>
              <td class='generalStatsTableLabel'>Release Team Builds:</td>
              <td id='generalStatsReleaseBuildsCell' class='generalStatsTableCell'><%= @stats[:general][:releaseBuilds] %></td>
            </tr>
            <tr>
              <td class='generalStatsTableLabel'>Total Builds:</td>
              <td id='generalStatsFOSSBuildsCell' class='generalStatsTableCell'><%= @stats[:general][:FOSSBuilds] %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='span5 offset2'>
        <table id='generalStatsTableRight' class='table generalStatsTable'>
          <tbody>
            <tr>
              <td class='generalStatsTableLabel'>Final Releases:</td>
              <td id='generalStatsFinalReleasesCell' class='generalStatsTableCell'><%= @stats[:general][:finalReleases] %></td>
            </tr>
            <tr>
              <td class='generalStatsTableLabel'>Other Team Builds:</td>
              <td id='generalStatsOtherBuildsCell' class='generalStatsTableCell'><%= @stats[:general][:otherBuilds] %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id='buildStatsContent' class='span7 contentContainer'>
    <div id='buildsStatsContentTitle' class='row-fluid'>
      <h3 class='contentTitle span6'>Build Statistics over Last 12 Months</h3>
      <div class='span2 offset4'>
        <div class="btn-group">
          <button id='buildStatsPopover' class='moreBtn btn btn-mini' data-toggle='popover' data-placement='left' data-title='Description' data-content='Trends in build time and build failure rate for this package over the course of the last year.' type="button"><i class='icon-info-sign'></i></button>
        </div>
      </div>
    </div>
    <div id='buildStatsSpeed' class='span6'>
      <h4 class='contentTitle'>Average Package Build Speed</h4>
      <div id='buildStatsSpeedContent' class='typeChartContent'>
        <div id='buildStatsYAxis' class='yAxisLabel yAxisPushLeft'>Seconds</div>
      </div>
    </div>
    <div id='buildStatsFailure' class='span6'>
      <h4 class='contentTitle'>Build Failure Rate</h4>
      <div id='buildStatsFailureContent' class='typeChartContent'>
        <div id='buildStatsFailureYAxis' class='yAxisLabel'>Percentage</div>
      </div>
    </div>
  </div>
</div>

 <!-- Tooltips for graphs and charts, to be styled by D3 -->
 <%= erb :tooltips %>

<script type='text/javascript'>
  $(document).ready(function() {
    // Add JS interactive elements

      $('#histLogButton').on('click', function() {
        createHistoricalBuildLogModal()
      })

      $('#recentBuildsPopover').popover();
      $('#summaryPopover').popover();
      $('#generalPopover').popover();
      $('#buildStatsPopover').popover();

    $(function() {

      <%  # Create the data array to send to JavaScript graph generation functions
        timeSeriesArray = []
        @monthArray.each do |timeSpan|
          timeSeriesArray << @stats[:timeSeries][:"#{timeSpan.split('-')[0]}"][:"#{timeSpan.split('-')[1]}"].to_json
        end
      %>
      createStandardLineGraph(<%= timeSeriesArray %>, 570, 480, 70, 30, 110, 50, '#buildStatsSpeedContent', '#buildStatsSpeedGraph', 'seconds')
      createStandardLineGraph(<%= timeSeriesArray %>, 570, 480, 70, 30, 110, 50, '#buildStatsFailureContent', '#buildStatsFailureGraph', '% Failed')
      createHistogram(<%= [@stats[:deb].to_json, @stats[:rpm].to_json, @stats[:gem].to_json, @stats[:dmg].to_json] %>, 350, 440, 70, 20, '#packageSummaryBuildContent', 'builds', '../summary/type')
    })

      // Resize the data sections for small resolutions
    $(function() {
      var upperLeft  = document.getElementById("recentBuildsContent");
      var lowerLeft  = document.getElementById("generalStatsContent");
      var upperRight = document.getElementById("typeSummaryContent");
      var lowerRight = document.getElementById("buildStatsContent");

      if(screen.width < 1600) {
        upperLeft.style.minWidth = "1300px";
        lowerLeft.style.minWidth   = "1300px";
      } else if(screen.width == 1920 && screen.height == 1080) {
        upperLeft.style.minWidth    = "1400px";
        $(upperLeft).css('margin-left', '50px');
        lowerLeft.style.minWidth    = "1400px";
        $(lowerLeft).css('margin-left', '50px');
        upperRight.style.minWidth   = "1400px";
        $(upperRight).css('margin-left', '50px');
        lowerRight.style.minWidth   = "1400px";
        $(lowerRight).css('margin-left', '50px');
        $('#logBody').css('height', '800px');
      } else {
        upperLeft.style.minWidth = "900px";
        lowerLeft.style.minWidth   = "900px";
      }
    })
  })
</script>
