<!--
  pkgTypeBoard template
  Used for dynamic data relating to each package type (deb, rpm...)
-->

<div id='topRowContainer' class='row-fluid'>
  <div id='recentBuildsContent' class='span4 contentContainer'>
    <div id='recentBuildsContentTitle' class='row-fluid'>
      <h3 class='contentTitle span4'>Latest <%= @packageType %> Builds</h3>
    </div>
    <!-- Use a multi-purpose template to generate the table -->
    <%= erb :recentBuildsTable %>
  </div>

  <div id='typeSummaryContent' class='span7 contentContainer'>
    <div id='typeSummaryContentTitle' class='row-fluid'>
      <h3 class='contentTitle span4'><%= @packageType %> Packaging Summaries</h3>
    </div>
    <div class='row-fluid'>
      <div id='typeSummaryBuildNumber' class='span3'>
        <h4 class='contentTitle'>Number of Builds this Month</h4>
        <div id='typeSummaryBuildContent' class='typeChartContent'>
          <div class='yAxisLabel'>Builds</div>
          <script type='text/javascript'>
            createHistogram(<%= [@stats[:jenkinsBuilds].to_json, @stats[:localBuilds].to_json] %>, 200, 440, 70, 200, '#typeSummaryBuildContent', 'builds', '#')
          </script>
        </div>
      </div>
      <div id='typeSummaryAvgSpeed' class='span3'>
        <h4 class='contentTitle'>Average Speed</h4>
        <div id='typeSummarySpeedContent' class='typeChartContent'>
          <div class='yAxisLabel'>Seconds</div>
          <script type='text/javascript'>
            createHistogram(<%= [@stats[:jenkinsBuilds].to_json, @stats[:localBuilds].to_json] %>, 200, 440, 80, 10, '#typeSummarySpeedContent', 'seconds', '#')
          </script>
        </div>
      </div>
      <div id='typeSummaryHosts' class='span5'>
        <h4 class='contentTitle'>Build Host Usage</h4>
        <div id='typeSummaryHostContent' class='typeChartContent'>
          <div class='yAxisLabel'>Percent</div>
          <script type='text/javascript'>
            createHistogram(<%= @hostDataArray %>, 500, 440, 70, 50, '#typeSummaryHostContent', 'percent', '#')
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='bottomRowContainer' class='row-fluid'>
  <div id='generalStatsContent' class='span4 contentContainer'>
    <div id='generalStatsContentTitle' class='row-fluid'>
      <h3 class='contentTitle span4'>General <%= @packageType %> Stats</h3>
    </div>
  </div>
  <div id='distSpeedContent' class='span7 contentContainer'>
    <div id='distSpeedContentTitle' class='row-fluid'>
      <h3 class='contentTitle span4'><%= @packageType %> Breakdown by Distribution</h3>
    </div>
      <div id='typeSummaryHosts' class='span6'>
        <h4 class='contentTitle'>Average Build Speed</h4>
      </div>
      <div id='typeSummaryHosts' class='span5'>
        <h4 class='contentTitle'>Failure Rate</h4>
      </div>
  </div>
</div>

<!-- Tooltips for graphs and charts, to be styled by D3 -->
<%= erb :tooltips %>

<!-- If the screen resolution is small, stretch each box to fill the width of the screen -->
<script type='text/javascript'>
  var recentBuilds = document.getElementById("recentBuildsContent");
  var generalStats = document.getElementById("generalStatsContent");
  if(screen.width < 1600) {
    recentBuilds.style.minWidth   = "1300px";
    generalStats.style.minWidth   = "1300px";
  } else {
    recentBuilds.style.minWidth = "900px";
    generalStats.style.minWidth = "900px";
  }
</script>
