<!--
  User template
  Used for dynamic data relating to build users
-->

<div id='topRowContainer' class='row-fluid'>
  <div id='userRecentBuildsContent' class='span6 contentContainer'>
    <div id='recentBuildsContentTitle' class='row-fluid'>
      <h3 class='contentTitle span6'><%= @build_user.capitalize %>'s Latest Builds</h3>
      <div class='span2 offset4'>
        <div class="btn-group">
          <button id='recentBuildsPopover' class='moreBtn btn btn-mini' data-toggle='popover' data-placement='left' data-title='Description' data-content='The latest six builds. Click a row for more information.' type="button"><i class='icon-info-sign'></i></button>
          <button class="moreBtn btn btn-mini dropdown-toggle" data-toggle="dropdown" type="button"><i class="icon-search"></i></button>
          <ul class='dropdown-menu pull-right'>
            <li><a id='histLogButton' tabindex="-1" href=#>Historical Build Log</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Use a multi-purpose template to generate the table -->
    <%= erb :recentBuildsTable %>
  </div>
</div>

 <!-- Tooltips for graphs and charts, to be styled by D3 -->
 <%= erb :tooltips %>

<div id='bottomRowContainer' class='row-fluid'>
  <div id='userGeneralStatsContent' class='span6 contentContainer'>
    <div id='generalStatsContentTitle' class='row-fluid'>
      <h3 class='contentTitle span6'>General Stats for <%= @build_user.capitalize %></h3>
      <div class='span2 offset4'>
        <div class="btn-group">
          <button id='generalPopover' class='moreBtn btn btn-mini' data-toggle='popover' data-placement='left' data-title='Description' data-content='Miscellaneous statistics about this user.' type="button"><i class='icon-info-sign'></i></button>
        </div>
      </div>
    </div>
    <div class='row-fluid'>
      <div class='span5'>
        <table id='generalStatsTableLeft' class='table generalStatsTable'>
          <tbody>
            <tr>
              <td class='generalStatsTableLabel'>Total Builds:</td>
              <td id='generalStatsTotalBuildsCell' class='generalStatsTableCell'><%= @stats[:general][:totalBuilds] %></td>
            </tr>
            <tr>
              <td class='generalStatsTableLabel'>Favorite Package:</td>
              <td id='generalStatsFavPackageCell' class='generalStatsTableCell'><%= @stats[:general][:favPackage][0] %></td>
            </tr>
            <tr>
              <td class='generalStatsTableLabel'>Favorite Package Type:</td>
              <td id='generalStatsFavPackageTypeCell' class='generalStatsTableCell'><%= @stats[:general][:favPackageType][0] %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='span5 offset2'>
        <table id='generalStatsTableRight' class='table generalStatsTable'>
          <tbody>
            <tr>
              <td class='generalStatsTableLabel'>Personal Failure Rate:</td>
              <td id='generalStatsFailureCell' class='generalStatsTableCell'><%= @stats[:general][:failureRate] %>%</td>
            </tr>
            <tr>
              <td class='generalStatsTableLabel'>Team:</td>
              <td id='generalStatsTeamCell' class='generalStatsTableCell'><%= @stats[:general][:team][0] %></td>
            </tr>
            <tr>
              <td class='generalStatsTableLabel'>Favorite Distribution:</td>
              <td id='generalStatsFavDistCell' class='generalStatsTableCell'><%= @stats[:general][:favDist][0] %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function() {
    // Add JS interactive elements

      $('#histLogButton').on('click', function() {
        createHistoricalBuildLogModal()
      })

      $('#recentBuildsPopover').popover();
      $('#generalPopover').popover();

      // Resize the data sections for small resolutions
    $(function() {
      var upperContent  = document.getElementById("userRecentBuildsContent");
      var lowerContent  = document.getElementById("userGeneralStatsContent");

      if(screen.width < 1600) {
        upperContent.style.minWidth = "1300px";
        lowerContent.style.minWidth = "1300px";
      } else if(screen.width == 1920 && screen.height == 1080) {
        upperContent.style.minWidth    = "1400px";
        $(upperContent).css('margin-left', '50px');
        lowerContent.style.minWidth    = "1400px";
        $(lowerContent).css('margin-left', '50px');
        $('#logBody').css('height', '800px');
      } else {
        upperContent.style.minWidth = "900px";
        lowerContent.style.minWidth = "900px";
        $(upperContent).addClass('offset3');
        $(lowerContent).addClass('offset3');
      }
    })
  })
</script>
